@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AlimBio.Models.Salarie

@{
    ViewData["Title"] = "Create";
}



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Salarié</h2>
                <ol>
                    <li><a href="#">Nouveau</a></li>
                    <li><a href="#">Salarié</a></li>

                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3 class="text-center text-muted "> Ajouter un Salarié </h3>


                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <input asp-for="Image" type="file" class="form-control" re/>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nom" class="control-label"></label>
                                <input asp-for="Nom" class="form-control" />
                                <span asp-validation-for="Nom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Prenom" class="control-label"></label>
                                <input asp-for="Prenom" class="form-control" />
                                <span asp-validation-for="Prenom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Poste" class="control-label"></label>
                                <input asp-for="Poste" class="form-control" />
                                <span asp-validation-for="Poste" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile" class="control-label"></label>
                                <input asp-for="Mobile" class="form-control" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fix" class="control-label"></label>
                                <input asp-for="Fix" class="form-control" />
                                <span asp-validation-for="Fix" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse" class="control-label"></label>
                                <input asp-for="Adresse" class="form-control" />
                                <span asp-validation-for="Adresse" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CodePostal" class="control-label"></label>
                                <input asp-for="CodePostal" class="form-control" />
                                <span asp-validation-for="CodePostal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ville" class="control-label"></label>
                                <input asp-for="Ville" class="form-control" />
                                <span asp-validation-for="Ville" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Pays" class="control-label"></label>
                                <input asp-for="Pays" class="form-control" />
                                <span asp-validation-for="Pays" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ServiceId" class="control-label"></label>
                                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="EntrepriseId" class="control-label"></label>
                                <select asp-for="EntrepriseId" class="form-control" asp-items="ViewBag.EntrepriseId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="SiteId" class="control-label"></label>
                                <select asp-for="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Soumettre" class="btn btn-green my-2" />
                            </div>
                        </form>

                        <div>
                            <a class="btn btn-green my-2" asp-action="Index"> <i class="fa fa-arrow-left"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- End   Details Section -->

</main><!-- End #main -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
