@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AlimBio.Models.Site

@{
    ViewData["Title"] = "Create";
}
<style type="text/css">.fa { }</style>


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Entreprise</h2>
                <ol>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Entreprises/details</a></li>
                    <li>Details d'entreprise </li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3>Creation - Service </h3>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Siret" class="control-label"></label>
                                <input asp-for="Siret" class="form-control" />
                                <span asp-validation-for="Siret" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NomSite" class="control-label"></label>
                                <input asp-for="NomSite" class="form-control" />
                                <span asp-validation-for="NomSite" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TypeSite" class="control-label"></label>
                                <input asp-for="TypeSite" class="form-control" />
                                <span asp-validation-for="TypeSite" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Statut" class="control-label"></label>
                                <input asp-for="Statut" class="form-control" />
                                <span asp-validation-for="Statut" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NombreEmployees" class="control-label"></label>
                                <input asp-for="NombreEmployees" class="form-control" />
                                <span asp-validation-for="NombreEmployees" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Capital" class="control-label"></label>
                                <input asp-for="Capital" class="form-control" />
                                <span asp-validation-for="Capital" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adresse" class="control-label"></label>
                                <input asp-for="Adresse" class="form-control" />
                                <span asp-validation-for="Adresse" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Langitude" class="control-label"></label>
                                <input asp-for="Langitude" class="form-control" />
                                <span asp-validation-for="Langitude" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Largitude" class="control-label"></label>
                                <input asp-for="Largitude" class="form-control" />
                                <span asp-validation-for="Largitude" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Effectif" class="control-label"></label>
                                <input asp-for="Effectif" class="form-control" />
                                <span asp-validation-for="Effectif" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateCreation" class="control-label"></label>
                                <input asp-for="DateCreation" class="form-control" />
                                <span asp-validation-for="DateCreation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tel" class="control-label"></label>
                                <input asp-for="Tel" class="form-control" />
                                <span asp-validation-for="Tel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SiteWeb" class="control-label"></label>
                                <input asp-for="SiteWeb" class="form-control" />
                                <span asp-validation-for="SiteWeb" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EntrepriseId" class="control-label"></label>
                                <select asp-for="EntrepriseId" class="form-control" asp-items="ViewBag.EntrepriseId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="VilleId" class="control-label"></label>
                                <select asp-for="VilleId" class="form-control" asp-items="ViewBag.EntrepriseId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Soumettre" class="btn btn-green my-2" />
                            </div>
                        </form>

                        <div>
                            <a class="btn btn-green my-2" asp-action="Index"> <i class="fa fa-arrow-left"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- End   Details Section -->

</main><!-- End #main -->
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
