@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AlimBio.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salarie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salarie.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
