@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-start align-items-center">
                <i class="fa fa-cog fa-2x text-white pr-1"></i> <h2>  Gestion de compte</h2>

            </div>

        </div>
    </section><!-- End Breadcrumbs -->

<div class="m-5 ">

    <hr />
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
        </div>
    </div>
</div>
</main>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
