@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Supression des données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Les données personnelles</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Attention ! la supprission de votre compte est permanante et définitive.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="veuille saisir votre mot de passe." />
                <label  class="form-label">Mot de passe</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Supprimer mes données personnelles et clôturer mon compte.</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
