@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Télécharger vos données";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3> Données personnelles</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
