@model AlimBio.Models.Entreprise

@{
    ViewData["Title"] = "Create";
}




<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Entreprise</h2>
                <ol>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Entreprises/details</a></li>
                    <li>Details d'entreprise </li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3>Information - Entreprise </h3>
                          <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Siren" class="control-label"></label>
                                <input asp-for="Siren" class="form-control" />
                                <span asp-validation-for="Siren" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NomEntreprise" class="control-label"></label>
                                <input asp-for="NomEntreprise" class="form-control" />
                                <span asp-validation-for="NomEntreprise" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DescriptionActivite" class="control-label"></label>
                                <input asp-for="DescriptionActivite" class="form-control" />
                                <span asp-validation-for="DescriptionActivite" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PersonneMoral" class="control-label"></label>
                                <input asp-for="PersonneMoral" class="form-control" />
                                <span asp-validation-for="PersonneMoral" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SiretSiege" class="control-label"></label>
                                <input asp-for="SiretSiege" class="form-control" />
                                <span asp-validation-for="SiretSiege" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nic" class="control-label"></label>
                                <input asp-for="Nic" class="form-control" />
                                <span asp-validation-for="Nic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NumeroVoie" class="control-label"></label>
                                <input asp-for="NumeroVoie" class="form-control" />
                                <span asp-validation-for="NumeroVoie" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LibelleVoie" class="control-label"></label>
                                <input asp-for="LibelleVoie" class="form-control" />
                                <span asp-validation-for="LibelleVoie" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComplementAdresse" class="control-label"></label>
                                <input asp-for="ComplementAdresse" class="form-control" />
                                <span asp-validation-for="ComplementAdresse" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdresseComplet" class="control-label"></label>
                                <input asp-for="AdresseComplet" class="form-control" />
                                <span asp-validation-for="AdresseComplet" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CodePostal" class="control-label"></label>
                                <input asp-for="CodePostal" class="form-control" />
                                <span asp-validation-for="CodePostal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ville" class="control-label"></label>
                                <input asp-for="Ville" class="form-control" />
                                <span asp-validation-for="Ville" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Region" class="control-label"></label>
                                <input asp-for="Region" class="form-control" />
                                <span asp-validation-for="Region" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Lattitude" class="control-label"></label>
                                <input asp-for="Lattitude" class="form-control" />
                                <span asp-validation-for="Lattitude" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Langitude" class="control-label"></label>
                                <input asp-for="Langitude" class="form-control" />
                                <span asp-validation-for="Langitude" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateCreation" class="control-label"></label>
                                <input asp-for="DateCreation" class="form-control" />
                                <span asp-validation-for="DateCreation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EntrepriseEmployeuse" class="control-label"></label>
                                <input asp-for="EntrepriseEmployeuse" class="form-control" />
                                <span asp-validation-for="EntrepriseEmployeuse" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Capital" class="control-label"></label>
                                <input asp-for="Capital" class="form-control" />
                                <span asp-validation-for="Capital" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Effectif" class="control-label"></label>
                                <input asp-for="Effectif" class="form-control" />
                                <span asp-validation-for="Effectif" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InscritRcs" class="control-label"></label>
                                <input asp-for="InscritRcs" class="form-control" />
                                <span asp-validation-for="InscritRcs" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SiteWeb" class="control-label"></label>
                                <input asp-for="SiteWeb" class="form-control" />
                                <span asp-validation-for="SiteWeb" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImmatriculationTva" class="control-label"></label>
                                <input asp-for="ImmatriculationTva" class="form-control" />
                                <span asp-validation-for="ImmatriculationTva" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Créer" class="btn btn-green my-2" />
                            </div>
                        </form> 
                        <div>
                            <a class="btn btn-green my-2" asp-action="Index"> <i class="fa fa-arrow-left"></i></a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section><!-- End   Details Section -->

</main><!-- End #main -->
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
