
@{
    ViewData["Title"] = "Conditions générales de ventes";
}


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Conditions générales de ventes</h2>

            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <section>
        <article class="card p-5 shadow m-4">
          <h2>Termes et conditions générales</h2>
<p>Bienvenue sur AlimoBio !</p>
<p>Les présentes conditions générales décrivent les règles et règlements relatifs à l'utilisation du site web de AlimoBio, situé à l'adresse www.alimobio.fr.</p>
<p>En accédant à ce site web, nous supposons que vous acceptez ces conditions générales. Ne continuez pas à utiliser AlimoBio si vous n'acceptez pas de prendre toutes les conditions générales énoncées sur cette page.</p>
<h3>Cookies :</h3>
<p>Le site web utilise des cookies pour aider à personnaliser votre expérience en ligne. En accédant à AlimoBio, vous avez accepté d'utiliser les cookies requis.</p>
<p>Un cookie est un fichier texte qui est placé sur votre disque dur par un serveur de pages web. Les cookies ne peuvent pas être utilisés pour exécuter des programmes ou transmettre des virus à votre ordinateur. Les cookies vous sont attribués de manière unique et ne peuvent être lus que par un serveur web du domaine qui vous a émis le cookie.</p>
<p>Nous pouvons utiliser des cookies pour collecter, stocker et suivre des informations à des fins statistiques ou marketing pour exploiter notre site web. Vous avez la possibilité d'accepter ou de refuser les Cookies facultatifs. Il existe certains Cookies obligatoires qui sont nécessaires au fonctionnement de notre site web. Ces cookies ne nécessitent pas votre consentement car ils fonctionnent toujours. N'oubliez pas qu'en acceptant les Cookies obligatoires, vous acceptez également les Cookies tiers, qui pourraient être utilisés via des services fournis par des tiers si vous utilisez ces services sur notre site web, par exemple, une fenêtre d'affichage vidéo fournie par des tiers et intégrée à notre site web.</p>
<h3>Licence :</h3>
<p>Sauf indication contraire, AlimoBio et/ou ses concédants de licence détiennent les droits de propriété intellectuelle de l'ensemble du matériel présent sur AlimoBio. Tous les droits de propriété intellectuelle sont réservés. Vous pouvez y accéder à partir de AlimoBio pour votre usage personnel, sous réserve des restrictions fixées dans les présentes conditions générales.</p>
<p>Vous ne devez pas :</p>
<ul>
<li>Copier ou republier des éléments provenant de AlimoBio.</li>
<li>Vendre, louer ou concéder une sous-licence pour le matériel provenant de AlimoBio.</li>
<li>Reproduire, dupliquer ou copier le matériel provenant de AlimoBio.</li>
<li>Redistribuer le contenu de AlimoBio.</li>
</ul>
<p>Le présent accord prend effet à la date des présentes.</p>
<h3>Responsabilité du contenu :</h3>
<p>Nous ne serons pas tenus responsables du contenu qui apparaît sur votre site web. Vous acceptez de nous protéger et de nous défendre contre toutes les réclamations qui sont soulevées sur votre site web. Aucun lien ne doit apparaître sur un site web qui pourrait être interprété comme diffamatoire, obscène ou criminel, ou qui enfreint, viole de toute autre manière, ou préconise l'infraction ou toute autre violation des droits d'un tiers.</p>
<h3>Réserve de droits :</h3>
<p>Nous nous réservons le droit de vous demander de supprimer tous les liens ou un lien particulier vers notre site web. Vous acceptez de retirer immédiatement tous les liens vers notre site web sur demande. Nous nous réservons également le droit de modifier à tout moment les présentes conditions générales et sa politique en matière de liens. En établissant continuellement des liens vers notre site web, vous acceptez d'être lié à ces conditions générales de liaison et de les suivre.</p>
<h3>Avis de non-responsabilité :</h3>
<p>Dans la mesure maximale autorisée par la loi applicable, nous excluons toutes les représentations, garanties et conditions relatives à notre site web et à l'utilisation de ce site web. Rien dans cette clause de non-responsabilité ne pourra :</p>
<ul>
<li>limiter ou exclure notre ou votre responsabilité en cas de décès ou de dommages corporels ;</li>
<li>limiter ou exclure notre ou votre responsabilité en cas de fraude ou de fausse déclaration frauduleuse ;</li>
<li>limiter l'une de nos ou de vos responsabilités d'une manière qui n'est pas autorisée par la loi applicable ; ou</li>
<li>exclure l'une de nos ou de vos responsabilités qui ne peuvent être exclues en vertu de la loi applicable.</li>
</ul>
<p>Les limitations et interdictions de responsabilité fixées dans cette section et ailleurs dans cette clause de non-responsabilité : (a) sont soumises au paragraphe précédent ; et (b) gouvernent toutes les responsabilités découlant de la clause de non-responsabilité, y compris les responsabilités contractuelles, délictuelles et pour violation d'une obligation légale.</p>
<p>Tant que le site web et les informations et services du site web sont fournis gratuitement, nous ne serons pas responsables de toute perte ou dommage de quelque nature que ce soit.</p>        </article>

    </section>

 </main>
