@page
@model LoginModel

@{
    ViewData["Title"] = "Connexion";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Connexion</h2>

                <ol>
                    <li><a href="index.html">Protail de </a></li>
                    <li>connexion</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">

        <section id="portfolio-details" class="portfolio-details">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4 d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="portfolio-info">
            <form id="account" method="post">
                <h2 class="text-center text-muted">Portail de connexion</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="exemple@alimobio.fr" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mot de passe" />
                    <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Garder la session.
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 my-2 btn btn-lg btn-green">Se connecter</button>
                </div>
                <div>
                    <p>
                        <a class="p-2 text-center text-muted background-outline-success"  id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié</a>
                    </p>
                    <p>
                        <a  class="p-2 text-center text-muted background-outline-success" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Nouveau utilisateur</a>
                    </p>
                    <p>
                        <a class="p-2 text-center text-muted background-outline-success"  id="resend-confirmation" asp-page="./ResendEmailConfirmation">Renvoyer le lien de confirmation d'E-mail'</a>
                    </p>
                </div>
            </form>

        </div>
        </div>
        </div>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </section><!-- End   Details Section -->
    </section>
</main>
