@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de réinitialsaition de mot de passe";
}

<h1>Confirmation</h1>
<p>
    Votre mot de passé a été réinitialisé avec succès <a asp-page="./Login">cliquez ici pour vous connecter.</a>.
</p>
