@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AlimBio.Models.Service

@{
    ViewData["Title"] = "Create";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Service</h2>
                <ol>
                    <li><a href="#">Nouveau</a></li>
                    <li><a href="#">Service</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h3>Creation - Service </h3>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Couleur" class="control-label"></label>
                                <input type="color" asp-for="Couleur" class="form-control p-0 m-0" />
                                <span  asp-validation-for="Couleur" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Icon (de service ) </label>
                            <select class="form-control" id="Icon" name="Icon">
                                <option value="">Pas d'icône</option>
                                <option value="fa fa-user">Utilisateur</option>
                                <option value="fa fa-search">Loupe de recherche</option>
                                <option value="fa fa-right-dir">Flèche droite</option>
                                <option value="fa fa-star">Étoile</option>
                                <option value="fa fa-cancel">Croix</option>
                                <option value="fa fa-help-circled">Point d'interrogation</option>
                                <option value="fa fa-info-circled">Information</option>
                                <option value="fa fa-eye">Œil</option>
                                <option value="fa fa-tag">Étiquette</option>
                                <option value="fa fa-bookmark">Signet</option>
                                <option value="fa fa-heart">Cœur</option>
                                <option value="fa fa-thumbs-down-alt">Pouce vers le bas</option>
                                <option value="fa fa-upload-cloud">Nuage de téléchargement</option>
                                <option value="fa fa-phone-squared">Téléphone carré</option>
                                <option value="fa fa-cog">Roue crantée</option>
                                <option value="fa fa-wrench">Clé anglaise</option>
                                <option value="fa fa-thumbs-up-alt">Pouce vers le haut</option>
                            </select>


                            </div>

                            <div class="form-group">
                                <label asp-for="NomService" class="control-label"></label>
                                <input asp-for="NomService" class="form-control" />
                                <span asp-validation-for="NomService" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control"  aria-multiline="true" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">Nom de site (assigné à ) </label>
                                <select asp-for="SiteId" class ="form-control" asp-items="ViewBag.SiteId"></select>
                            </div>
                            <div class="form-group">
                                <label   class="control-label"> Nom de l'entreprise (assigné à ) </label>
                                <select asp-for="EntrepriseId" class ="form-control" asp-items="ViewBag.EntrepriseId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Créer" class="btn btn-green my-2" />
                            </div>
                        </form>

                        <div>
                            <a class="btn btn-green my-2" asp-action="Index"> <i class="fa fa-arrow-left"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- End   Details Section -->

</main><!-- End #main -->

<!-- JavaScript -->
<script type="text/javascript">

	jQuery(document).ready(function($) {
		$('#Icon').fontIconPicker({
                            theme              : 'fip-grey',              // The CSS theme to use with this fontIconPicker. You can set different themes on multiple elements on the same page
                            source             : false,                   // Icons source (array|false|object)
                            emptyIcon          : true,                    // Empty icon should be shown?
                            emptyIconValue     : '',                      // The value of the empty icon, change if you select has something else, say "none"
                            autoClose          : true,                    // Whether or not to close the FIP automatically when clicked outside
                            iconsPerPage       : 20,                      // Number of icons per page
                            hasSearch          : true,                    // Is search enabled?
                            searchSource       : false,                   // Give a manual search values. If using attributes then for proper search feature we also need to pass icon names under the same order of source
                            appendTo           : 'self',                  // Where to append the selector popup. You can pass string selectors or jQuery objects
                            useAttribute       : false,                   // Whether to use attribute selector for printing icons
                            attributeName      : 'data-icon',             // HTML Attribute name
                            convertToHex       : true,                    // Whether or not to convert to hexadecimal for attribute value. If true then please pass decimal integer value to the source (or as value="" attribute of the select field)
                            allCategoryText    : 'From all categories',   // The text for the select all category option
                            unCategorizedText  : 'Uncategorized',         // The text for the select uncategorized option
                            iconGenerator      : null,                    // Icon Generator function. Passes, item, flipBoxTitle and index
                            windowDebounceDelay: 150,                     // Debounce delay while fixing position on windowResize
                            searchPlaceholder  : 'Search Icons'           // Placeholder for the search input
                        });


	});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
